.container{
  display: flex;
  justify-content: space-around;
}

.header{
  width: 250px;
  min-height: 300px;
  padding: 1rem; 
  font-weight: bold;
  font-size: large;
  background-color: rgb(220, 197, 197);
}

.content {
  user-select: none;
  padding: 16px;
  margin: 0 0 8px 0;
  background-color: white;
  cursor: move;
  border: 1px solid black;
  font-weight: 100;
  font-size: medium;
} 