#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.show-offer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 60px;
  width: 150px;
  background-color: purple;
  color: black;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;

}

.modal{
  background : radial-gradient(white, rgba(0,0,0,0.5));
  position:fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
}
.content {
  background-color: rgb(10, 20, 219);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
  position: relative;


}