.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  position: relative;
}

.panel{
  height: 30px;
  width: 400px;
  border: 2px solid black;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.panel span{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
}

.panel div{
  background-color: green;
  height: 100%;
}

.traffic_light{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.light{
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 50%;
  background-color: grey;
  transition: background-color 0.5s;
}

.light.red.active{
  background: red;
}

.light.green.active{
  background: rgb(29, 193, 7);
}

.light.yellow.active{
  background: rgba(211, 233, 15, 0.767);
}